<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" th:href="@{/css/global.css}">
  <link rel="stylesheet" th:href="@{/css/navbar.css}">
  <link rel="stylesheet" th:href="@{/css/footer.css}">
  <link rel="stylesheet" th:href="@{/css/post-page.css}">
  <title>Post Page</title>
</head>

<body>
  <!-- Navbar -->
  <div th:replace="fragments/navbar.html :: navbar"></div>

  <!-- Main Container -->
  <div class="main-container container">
    <h1>Share A Feedback</h1>

    <form th:action="@{/feedback}" method="POST" id="feedback-form">
      <label for="feedbackFor">Feedback For</label>
      <input type="text" name="feedbackFor" id="feedbackFor" required>

      <label for="title">Title</label>
      <input type="text" name="title" id="title" required>

      <label>Is this feedback positive?</label>
      <div id="radio-btn">
        <label><input type="radio" name="isPositive" value="true" required>&nbsp;Positive</label>
        <label><input type="radio" name="isPositive" value="false" required>&nbsp;Negative</label>
      </div>

      <label for="message">Feedback / Message</label>
      <textarea name="message" id="message" rows="8" required></textarea>

      <button type="submit">Submit</button>
    </form>
  </div>

  <!-- Footer -->
  <div th:replace="fragments/footer.html :: footer"></div>
</body>

</html>